In [2]:
import pandas as pd
from pandas import Series,DataFrame
import numpy as np
import matplotlib.pyplot as plt

In [3]:
b819=pd.read_csv('bowler/bowleravg819.csv')
d819=pd.read_csv('bowler/deathRuns0819.csv',)
n819=pd.read_csv('bowler/NOBALLWID.csv')
p819=pd.read_csv('bowler/powerplay0819.csv')
w819=pd.read_csv('bowler/wick819.csv')

In [4]:
b819=b819.rename(columns={'over':'total_overs'})
d819=d819.rename(columns={'over':'death_over'})
p819=p819.rename(columns={'over':'powerplay_over'})
w819=w819.rename(columns={'player_dismissed':'wickets'})

In [11]:
a1=pd.merge(b819,d819,on='bowler',how='outer')
a2=pd.merge(a1,n819,on='bowler',how='outer')
a3=pd.merge(a2,p819,on='bowler',how='outer')
a4=pd.merge(a3,w819,on='bowler',how='outer')
a4.to_csv('bo819.csv',index=False)
a4.head()

,bowler,total_overs,total_runs,avg_economy,death_over,over,wide_runs,WoPerOver,noball_runs,NoPerOver,powerplay_over,wickets
0,A Ashish Reddy,45,400,8.888889,18,45,8,0.177778,2,0.044444,1,19
1,A Chandila,39,245,6.282051,1,39,0,0.000000,0,0.000000,24,11
2,A Choudhary,17,144,8.470588,4,17,6,0.352941,1,0.058824,6,5
3,A Dananjaya,4,48,12.000000,0,4,1,0.250000,0,0.000000,1,0
4,A Flintoff,11,106,9.636364,4,11,0,0.000000,0,0.000000,2,2

In [12]:
b1819=pd.read_csv('bowler/bowleravg1819.csv')
d1819=pd.read_csv('bowler/deathRuns1819.csv')
n1819=pd.read_csv('bowler/NOBALLWID1919.csv')
p1819=pd.read_csv('bowler/powerplay1819.csv')
w1819=pd.read_csv('bowler/wick1819.csv')

In [13]:
b1819=b1819.rename(columns={'over':'total_overs'})
d1819=d1819.rename(columns={'over':'death_over'})
p1819=p1819.rename(columns={'over':'powerplay_over'})
w1819=w1819.rename(columns={'player_dismissed':'wickets'})

In [14]:
b1=pd.merge(b1819,d1819,on='bowler',how='outer')
b2=pd.merge(b1,n1819,on='bowler',how='outer')
b3=pd.merge(b2,p1819,on='bowler',how='outer')
b4=pd.merge(b3,w1819,on='bowler',how='outer')
b4.to_csv('bo1819.csv',index=False)
b4.head()

,bowler,total_overs,total_runs,avg_economy,death_over,over,wide_runs,WoPerOver,noball_runs,NoPerOver,powerplay_over,wickets
0,A Dananjaya,4,48,12.000000,0,4,1,0.250000,0,0.0,1,0
1,A Joseph,9,94,10.444444,2,9,3,0.333333,0,0.0,4,6
2,A Mishra,77,545,7.077922,7,77,7,0.090909,0,0.0,2,23
3,A Roy,2,14,7.000000,0,2,3,1.500000,0,0.0,0,1
4,A Singh,10,130,13.000000,2,10,5,0.500000,0,0.0,7,3

In [22]:
b1617=pd.read_csv('bowler/bowleravg1617.csv')
d1617=pd.read_csv('bowler/deathRuns1617.csv')
n1617=pd.read_csv('bowler/NOBALLWID1617.csv')
p1617=pd.read_csv('bowler/powerplay1617.csv')
w1617=pd.read_csv('bowler/wick1617.csv')

In [23]:
b1617=b1617.rename(columns={'over':'total_overs'})
d1617=d1617.rename(columns={'over':'death_over'})
p1617=p1617.rename(columns={'over':'powerplay_over'})
w1617=w1617.rename(columns={'player_dismissed':'wickets'})

In [24]:
c1=pd.merge(b1617,d1617,on='bowler',how='outer')
c2=pd.merge(c1,n1617,on='bowler',how='outer')
c3=pd.merge(c2,p1617,on='bowler',how='outer')
c4=pd.merge(c3,w1617,on='bowler',how='outer')
c4.to_csv('bo1617.csv',index=False)