In [2]:
import pandas as pd
from pandas import Series,DataFrame
import numpy as np
import matplotlib.pyplot as plt
from sklearn import preprocessing 
from pandas import ExcelWriter
from pandas import ExcelFile

In [58]:
s819=pd.read_excel('bowler/BowlerOuter.xlsx',sheet_name='819')
s1819=pd.read_excel('bowler/BowlerOuter.xlsx',sheet_name='1819')
s1617=pd.read_excel('bowler/BowlerOuter.xlsx',sheet_name='1617')
s1617.head()

,bowler,total_overs,total_runs,avg_economy,death_over,over,wide_runs,WoPerOver,noball_runs,NoPerOver,powerplay_over,wickets
0,A Ashish Reddy,4,40,10.000000,0,4,0,0.000000,0,0.000000,0,1
1,A Choudhary,17,144,8.470588,4,17,6,0.352941,1,0.058824,6,5
2,A Mishra,85,695,8.176471,8,85,14,0.164706,2,0.023529,0,24
3,A Nehra,49,398,8.122449,9,49,12,0.244898,0,0.000000,29,21
4,A Zampa,37,281,7.594595,8,37,8,0.216216,0,0.000000,1,19

In [59]:
a1=s1617.drop(columns='bowler')
x = a1.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
df = pd.DataFrame(x_scaled,columns=['total_overs','total_runs','avg_economy','death_over','over','wide_runs','WoPerOver','noball_runs','NoPerOver','powerplay_over','wickets'])
df.head()

,total_overs,total_runs,avg_economy,death_over,over,wide_runs,WoPerOver,noball_runs,NoPerOver,powerplay_over,wickets
0,0.025424,0.038622,0.538462,0.000000,0.025424,0.000000,0.000000,0.000000,0.000000,0.000000,0.019231
1,0.135593,0.147182,0.420814,0.076923,0.135593,0.181818,0.235294,0.076923,0.029412,0.100000,0.096154
2,0.711864,0.722338,0.398190,0.153846,0.711864,0.424242,0.109804,0.153846,0.011765,0.000000,0.461538
3,0.406780,0.412317,0.394035,0.173077,0.406780,0.363636,0.163265,0.000000,0.000000,0.483333,0.403846
4,0.305085,0.290188,0.353430,0.153846,0.305085,0.242424,0.144144,0.000000,0.000000,0.016667,0.365385

In [60]:
df['value1617']=df['total_overs']*0.02 +df['avg_economy']*0.35 + df['wickets']*0.35 + df['WoPerOver']*0.1 +df['NoPerOver']*0.1 +df['death_over']*0.04 +df['powerplay_over']*0.04

In [61]:
df.sort_values(by='value1617',ascending=False).head()

,total_overs,total_runs,avg_economy,death_over,over,wide_runs,WoPerOver,noball_runs,NoPerOver,powerplay_over,wickets,value1617
16,1.000000,0.922756,0.342599,1.000000,1.000000,1.000000,0.184874,0.153846,0.008403,1.000000,1.000000,0.589237
74,0.906780,1.000000,0.453704,0.730769,0.906780,0.818182,0.166667,0.461538,0.027778,0.833333,0.730769,0.514710
53,0.949153,0.902923,0.360109,0.980769,0.949153,0.272727,0.053097,1.000000,0.057522,0.583333,0.788462,0.494609
125,0.822034,0.806889,0.378336,0.538462,0.822034,0.606061,0.136054,0.076923,0.005102,0.966667,0.692308,0.465487
80,0.008475,0.030271,1.000000,0.000000,0.008475,0.090909,1.000000,0.000000,0.000000,0.016667,0.000000,0.450836

In [62]:
s1617['values']=df['value1617']
s1617=s1617.sort_values(by='values',ascending=False)
s1617.to_csv('s1617ibi.csv',index=False)