In [2]:
import pandas as pd
from pandas import Series,DataFrame
import numpy as np
import matplotlib.pyplot as plt

In [74]:
t08= pd.read_html('https://en.wikipedia.org/wiki/List_of_2008_Indian_Premier_League_auctions_and_personnel_signings')
t11= pd.read_html('https://en.wikipedia.org/wiki/List_of_2011_Indian_Premier_League_personnel_changes')
t12=pd.read_html('https://en.wikipedia.org/wiki/List_of_2012_Indian_Premier_League_personnel_changes')

In [77]:
final=[t08[2],t11[2],t12[6]]
f1=pd.concat(final, sort=True)

In [78]:
f1.drop(['No.'],axis=1,inplace=True)
f1.head()

,Auctioned Price(in US$ thousands),Base Price(in US$ thousands),Base price,Category,From,Name,Nat,Nationality,Player,Seasons played,Speciality,Team,Winning bid
0,450.0,450.0,NaN,A,NaN,Shane Warne,NaN,Australia,NaN,NaN,Bowler,Rajasthan Royals,NaN
1,1500.0,400.0,NaN,A,NaN,Mahendra Singh Dhoni,NaN,India,NaN,NaN,Wicketkeeper,Chennai Super Kings,NaN
2,700.0,300.0,NaN,A,NaN,Adam Gilchrist,NaN,Australia,NaN,NaN,Wicket keeper,Deccan Chargers,NaN
3,425.0,250.0,NaN,A,NaN,Shoaib Akhtar,NaN,Pakistan,NaN,NaN,Bowler,Kolkata Knight Riders,NaN
4,475.0,250.0,NaN,A,NaN,Mahela Jayawardene,NaN,Sri Lanka,NaN,NaN,Batsman,Kings XI Punjab,NaN

In [93]:
f1.columns
f1.rename(columns={'Player':'Name','Nationality':'Nat'},inplace=True)

In [94]:
f1.head()

,Auctioned Price(in US$ thousands),Base Price(in US$ thousands),Base price,Category,Nat,Name,Nat,Nat,Name,Seasons played,Speciality,Team,Winning bid
0,450.0,450.0,NaN,A,NaN,Shane Warne,NaN,Australia,NaN,NaN,Bowler,Rajasthan Royals,NaN
1,1500.0,400.0,NaN,A,NaN,Mahendra Singh Dhoni,NaN,India,NaN,NaN,Wicketkeeper,Chennai Super Kings,NaN
2,700.0,300.0,NaN,A,NaN,Adam Gilchrist,NaN,Australia,NaN,NaN,Wicket keeper,Deccan Chargers,NaN
3,425.0,250.0,NaN,A,NaN,Shoaib Akhtar,NaN,Pakistan,NaN,NaN,Bowler,Kolkata Knight Riders,NaN
4,475.0,250.0,NaN,A,NaN,Mahela Jayawardene,NaN,Sri Lanka,NaN,NaN,Batsman,Kings XI Punjab,NaN

In [87]:
f1.to_csv('f1.csv')