In [1]:
import pandas as pd
from pandas import DataFrame,Series
import numpy as np

In [19]:
bowl_eco = pd.read_csv('yashfile.csv')
bowl_eco.drop(columns='Unnamed: 0',inplace=True)
bowl_eco

        id  season             bowler  over  total_runs
0        1    2017        A Choudhary     2          16
1        1    2017        A Choudhary    10           4
2        1    2017        A Choudhary    13          18
3        1    2017        A Choudhary    18          17
4        1    2017            A Nehra     1          11
5        1    2017            A Nehra     3          16
6        1    2017            A Nehra    11          13
7        1    2017            A Nehra    18           2
8        1    2017            B Kumar     2           1
9        1    2017            B Kumar     4          15
10       1    2017            B Kumar    17           3
11       1    2017            B Kumar    19           9
12       1    2017        BCJ Cutting     5           5
13       1    2017        BCJ Cutting     9          11
14       1    2017        BCJ Cutting    16          12
15       1    2017        BCJ Cutting    20           7
16       1    2017       Bipul Sharma    14           4
17       1    2017           DJ Hooda     7           7
18       1    2017       MC Henriques    10          13
19       1    2017       MC Henriques    12           7
20       1    2017        Rashid Khan     6           6
21       1    2017        Rashid Khan     8          13
22       1    2017        Rashid Khan    13           8
23       1    2017        Rashid Khan    15           9
24       1    2017          S Aravind     5           9
25       1    2017          S Aravind    12           8
26       1    2017          S Aravind    15          19
27       1    2017          SR Watson     6          17
28       1    2017          SR Watson    14           8
29       1    2017          SR Watson    20          16
...    ...     ...                ...   ...         ...
24375  636    2016        BCJ Cutting    16           4
24376  636    2016       Bipul Sharma    12           9
24377  636    2016       Bipul Sharma    14           8
24378  636    2016           CH Gayle     2           5
24379  636    2016           CH Gayle     4           6
24380  636    2016           CH Gayle     6          13
24381  636    2016          CJ Jordan    10           9
24382  636    2016          CJ Jordan    12          13
24383  636    2016          CJ Jordan    17           9
24384  636    2016          CJ Jordan    19          16
24385  636    2016      Iqbal Abdulla     8          10
24386  636    2016       MC Henriques     7          10
24387  636    2016       MC Henriques     9          21
24388  636    2016       MC Henriques    15           9
24389  636    2016  Mustafizur Rahman     6           4
24390  636    2016  Mustafizur Rahman    10          12
24391  636    2016  Mustafizur Rahman    17          10
24392  636    2016  Mustafizur Rahman    19          12
24393  636    2016          S Aravind     1           7
24394  636    2016          S Aravind     3           9
24395  636    2016          S Aravind    14           7
24396  636    2016          S Aravind    16           7
24397  636    2016          SR Watson     5          19
24398  636    2016          SR Watson    11           6
24399  636    2016          SR Watson    18          12
24400  636    2016          SR Watson    20          24
24401  636    2016          YS Chahal     7           6
24402  636    2016          YS Chahal     9          13
24403  636    2016          YS Chahal    13           4
24404  636    2016          YS Chahal    15          13

[24405 rows x 5 columns]

In [26]:
bowl_sruns=bowl_eco.groupby(['bowler','season'])['total_runs'].sum()
bowl_sruns=pd.DataFrame(bowl_sruns)
#bowl_sruns.reset_index(inplace=True)

In [28]:
bowl_sovers=bowl_eco.groupby(['bowler','season'])['over'].count()
bowl_sovers=pd.DataFrame(bowl_sovers)
#bowl_sovers.reset_index(inplace=True)

In [57]:
bowl_s=pd.merge(bowl_sruns,bowl_sovers,on=['bowler','season'])
a = bowl_s['total_runs']/bowl_s['over']
avg=pd.DataFrame(a,columns=['avg_economy'])
bowler_avg=pd.concat([bowl_s,avg],axis=1)
bowler_avg.head()

           bowler  season  total_runs  over  avg_economy
0  A Ashish Reddy    2012         238    28     8.500000
1  A Ashish Reddy    2013          71     7    10.142857
2  A Ashish Reddy    2015          51     6     8.500000
3  A Ashish Reddy    2016          40     4    10.000000
4      A Chandila    2012          87    14     6.214286

In [79]:
bowlers = bowler_avg.groupby(['bowler','season','total_runs','avg_economy'])

In [81]:
bowlers=bowlers.agg('mean')

In [114]:
ba=bowler_avg.pivot_table('avg_economy','bowler','season')
ba['av.eco']=ba.mean(axis=1,skipna=True)
bowler_avg=ba.sort_values(by='av.eco')

KeyError: 'avg_economy'

In [104]:
tot_overs=bowl_eco.groupby('bowler')['over'].count()
tot_overs=pd.DataFrame(tot_overs)
tot_overs.reset_index(inplace=True)
tot_overs

                bowler  over
0       A Ashish Reddy    45
1           A Chandila    39
2          A Choudhary    17
3           A Flintoff    11
4             A Kumble   163
5             A Mishra   442
6             A Mithun    48
7              A Nehra   320
8                A Nel     3
9              A Singh    80
10           A Symonds    88
11            A Uniyal     6
12             A Zampa    37
13           AA Chavan    42
14     AA Jhunjhunwala    15
15             AA Kazi     2
16           AA Noffke     4
17          AB Agarkar   131
18            AB Dinda   255
19         AB McDonald    31
20        AC Gilchrist     1
21           AC Thomas    53
22            AC Voges     9
23      AD Mascarenhas    52
24          AD Mathews   133
25          AD Russell   106
26            AF Milne    18
27          AG Murtaza    44
28            AJ Finch     8
29              AJ Tye    21
..                 ...   ...
326         TG Southee   110
327           TL Suman    25
328         TM Dilshan    46
329            TM Head     9
330       TP Sudhindra    12
331           TS Mills    18
332       Tejas Baroka     4
333           UT Yadav   324
334           Umar Gul    23
335            V Kohli    43
336     V Pratap Singh    34
337           V Sehwag    23
338          V Shankar     1
339           VR Aaron   143
340          VRV Singh    60
341           VS Malik    35
342        VS Yeligati     5
343          VY Mahesh    58
344            WA Mota    12
345         WD Parnell    97
346         WPUJC Vaas    48
347  Washington Sundar    30
348   Y Gnaneswara Rao     1
349            Y Nagar    11
350    Y Venugopal Rao    36
351         YA Abdulla    35
352          YK Pathan   190
353          YS Chahal   201
354       Yuvraj Singh   144
355             Z Khan   371

[356 rows x 2 columns]

In [115]:
#bowler_avg.drop(columns=['over_x','over_x','over'],inplace=True)
#=pd.merge(bowler_avg,tot_overs,on='bowler')
#bowler_avg=bowler_avg.drop(columns='over_y')
#bowler_avg.columns.rename('')
bowler_avg

,bowler,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,av.eco
0,AC Gilchrist,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,0.000000
1,N Rana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.000000,NaN,3.000000
2,Sachin Baby,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.000000,NaN,4.000000
3,NB Singh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.500000,4.500000
4,AM Rahane,NaN,5.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.000000
5,SPD Smith,NaN,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,NaN,NaN,5.000000
6,S Rana,NaN,NaN,NaN,2.000000,NaN,NaN,8.000000,NaN,NaN,NaN,5.000000
7,Mohammad Nabi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.363636,5.363636
8,DJ Thornely,5.714286,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.714286
9,Avesh Khan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.000000,6.000000
10,SS Mundhe,NaN,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,NaN,NaN,6.000000
11,LA Carseldine,NaN,6.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.000000
12,M Manhas,NaN,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,NaN,NaN,6.000000
13,J Yadav,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.142857,7.352941,7.166667,6.220822
14,A Chandila,NaN,NaN,NaN,NaN,6.214286,6.320000,NaN,NaN,NaN,NaN,6.267143
15,R Ashwin,NaN,3.500000,6.416667,6.317460,6.552239,6.844828,7.433333,5.871795,7.295455,NaN,6.278972
16,Washington Sundar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.300000,6.300000
17,JM Kemp,NaN,NaN,6.444444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.444444
18,GH Vihari,NaN,NaN,NaN,NaN,NaN,6.500000,NaN,NaN,NaN,NaN,6.500000
19,MJ Clarke,NaN,NaN,NaN,NaN,6.545455,NaN,NaN,NaN,NaN,NaN,6.545455
20,Sohail Tanvir,6.547619,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.547619
21,SMSM Senanayake,NaN,NaN,NaN,NaN,NaN,6.593750,NaN,NaN,NaN,NaN,6.593750
22,SP Narine,NaN,NaN,NaN,NaN,5.533333,5.515625,6.646154,7.687500,7.209302,6.983051,6.595828
23,RE van der Merwe,NaN,7.735294,6.750000,6.266667,6.000000,6.454545,NaN,NaN,NaN,NaN,6.641301
24,RV Gomez,NaN,NaN,NaN,8.333333,NaN,5.000000,NaN,NaN,NaN,NaN,6.666667
25,NJ Rimmington,NaN,NaN,NaN,6.666667,NaN,NaN,NaN,NaN,NaN,NaN,6.666667
26,FH Edwards,NaN,6.666667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.666667
27,SM Pollock,6.673913,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.673913
28,PD Collingwood,NaN,NaN,6.733333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.733333
29,GD McGrath,6.777778,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.777778
...,...,...,...,...,...,...,...,...,...,...,...,...
326,K Santokie,NaN,NaN,NaN,NaN,NaN,NaN,11.375000,NaN,NaN,NaN,11.375000
327,SA Abbott,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.400000,NaN,NaN,11.400000
328,TP Sudhindra,NaN,NaN,NaN,NaN,11.416667,NaN,NaN,NaN,NaN,NaN,11.416667
329,BB Sran,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.000000,8.400000,14.500000,11.633333
330,PC Valthaty,NaN,NaN,NaN,7.640000,16.000000,NaN,NaN,NaN,NaN,NaN,11.820000
331,MK Tiwary,NaN,11.000000,11.000000,11.500000,NaN,NaN,14.000000,NaN,NaN,NaN,11.875000
332,RA Tripathi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.000000,12.000000
333,RR Bose,NaN,12.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.000000
334,LRPL Taylor,NaN,13.000000,NaN,11.000000,NaN,NaN,NaN,NaN,NaN,NaN,12.000000
335,BJ Rohrer,NaN,NaN,NaN,NaN,NaN,12.000000,NaN,NaN,NaN,NaN,12.000000
336,J Suchith,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.666667,15.500000,NaN,12.083333
337,SB Wagh,NaN,NaN,16.000000,8.187500,NaN,NaN,NaN,NaN,NaN,NaN,12.093750
338,VS Yeligati,12.200000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.200000
339,V Sehwag,12.181818,25.000000,3.833333,NaN,11.250000,9.000000,NaN,NaN,NaN,NaN,12.253030
340,C Ganapathy,NaN,NaN,13.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.000000
341,MJ Henry,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.200000,14.200000
342,Abdur Razzak,14.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.500000
343,Mashrafe Mortaza,NaN,14.750000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.750000
344,CL White,24.000000,NaN,19.000000,NaN,9.000000,8.000000,NaN,NaN,NaN,NaN,15.000000
345,MG Neser,NaN,NaN,NaN,NaN,NaN,15.500000,NaN,NaN,NaN,NaN,15.500000
346,Sunny Gupta,NaN,NaN,NaN,NaN,15.666667,NaN,NaN,NaN,NaN,NaN,15.666667
347,F du Plessis,NaN,NaN,NaN,NaN,16.000000,NaN,NaN,NaN,NaN,NaN,16.000000
348,CK Kapugedera,16.333333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.333333
349,RR Bhatkal,NaN,NaN,NaN,NaN,17.500000,NaN,NaN,NaN,NaN,NaN,17.500000
350,P Prasanth,NaN,NaN,NaN,18.000000,NaN,NaN,NaN,NaN,NaN,NaN,18.000000
351,S Sriram,NaN,NaN,12.000000,25.000000,NaN,NaN,NaN,NaN,NaN,NaN,18.500000
352,V Shankar,NaN,NaN,NaN,NaN,NaN,NaN,19.000000,NaN,NaN,NaN,19.000000
353,B Chipli,NaN,NaN,NaN,20.000000,NaN,NaN,NaN,NaN,NaN,NaN,20.000000
354,LPC Silva,21.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.000000
355,I Malhotra,NaN,NaN,NaN,23.000000,NaN,NaN,NaN,NaN,NaN,NaN,23.000000

In [116]:
bowler__avg=pd.merge(bowler_avg,tot_overs,on='bowler')

In [118]:
bowler__avg.to_csv('bavg.csv')

In [120]:
bowler__avg

,bowler,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,av.eco,over
0,AC Gilchrist,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,0.000000,1
1,N Rana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.000000,NaN,3.000000,1
2,Sachin Baby,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.000000,NaN,4.000000,2
3,NB Singh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.500000,4.500000,4
4,AM Rahane,NaN,5.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.000000,1
5,SPD Smith,NaN,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,NaN,NaN,5.000000,1
6,S Rana,NaN,NaN,NaN,2.000000,NaN,NaN,8.000000,NaN,NaN,NaN,5.000000,3
7,Mohammad Nabi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.363636,5.363636,11
8,DJ Thornely,5.714286,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.714286,7
9,Avesh Khan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.000000,6.000000,4
10,SS Mundhe,NaN,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,NaN,NaN,6.000000,1
11,LA Carseldine,NaN,6.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.000000,1
12,M Manhas,NaN,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,NaN,NaN,6.000000,7
13,J Yadav,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.142857,7.352941,7.166667,6.220822,30
14,A Chandila,NaN,NaN,NaN,NaN,6.214286,6.320000,NaN,NaN,NaN,NaN,6.267143,39
15,R Ashwin,NaN,3.500000,6.416667,6.317460,6.552239,6.844828,7.433333,5.871795,7.295455,NaN,6.278972,383
16,Washington Sundar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.300000,6.300000,30
17,JM Kemp,NaN,NaN,6.444444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.444444,9
18,GH Vihari,NaN,NaN,NaN,NaN,NaN,6.500000,NaN,NaN,NaN,NaN,6.500000,6
19,MJ Clarke,NaN,NaN,NaN,NaN,6.545455,NaN,NaN,NaN,NaN,NaN,6.545455,11
20,Sohail Tanvir,6.547619,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.547619,42
21,SMSM Senanayake,NaN,NaN,NaN,NaN,NaN,6.593750,NaN,NaN,NaN,NaN,6.593750,32
22,SP Narine,NaN,NaN,NaN,NaN,5.533333,5.515625,6.646154,7.687500,7.209302,6.983051,6.595828,323
23,RE van der Merwe,NaN,7.735294,6.750000,6.266667,6.000000,6.454545,NaN,NaN,NaN,NaN,6.641301,74
24,RV Gomez,NaN,NaN,NaN,8.333333,NaN,5.000000,NaN,NaN,NaN,NaN,6.666667,16
25,NJ Rimmington,NaN,NaN,NaN,6.666667,NaN,NaN,NaN,NaN,NaN,NaN,6.666667,3
26,FH Edwards,NaN,6.666667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.666667,24
27,SM Pollock,6.673913,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.673913,46
28,PD Collingwood,NaN,NaN,6.733333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.733333,15
29,GD McGrath,6.777778,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.777778,54
...,...,...,...,...,...,...,...,...,...,...,...,...,...
326,K Santokie,NaN,NaN,NaN,NaN,NaN,NaN,11.375000,NaN,NaN,NaN,11.375000,8
327,SA Abbott,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.400000,NaN,NaN,11.400000,5
328,TP Sudhindra,NaN,NaN,NaN,NaN,11.416667,NaN,NaN,NaN,NaN,NaN,11.416667,12
329,BB Sran,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.000000,8.400000,14.500000,11.633333,55
330,PC Valthaty,NaN,NaN,NaN,7.640000,16.000000,NaN,NaN,NaN,NaN,NaN,11.820000,26
331,MK Tiwary,NaN,11.000000,11.000000,11.500000,NaN,NaN,14.000000,NaN,NaN,NaN,11.875000,6
332,RA Tripathi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.000000,12.000000,1
333,RR Bose,NaN,12.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.000000,2
334,LRPL Taylor,NaN,13.000000,NaN,11.000000,NaN,NaN,NaN,NaN,NaN,NaN,12.000000,2
335,BJ Rohrer,NaN,NaN,NaN,NaN,NaN,12.000000,NaN,NaN,NaN,NaN,12.000000,1
336,J Suchith,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.666667,15.500000,NaN,12.083333,41
337,SB Wagh,NaN,NaN,16.000000,8.187500,NaN,NaN,NaN,NaN,NaN,NaN,12.093750,17
338,VS Yeligati,12.200000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.200000,5
339,V Sehwag,12.181818,25.000000,3.833333,NaN,11.250000,9.000000,NaN,NaN,NaN,NaN,12.253030,23
340,C Ganapathy,NaN,NaN,13.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.000000,1
341,MJ Henry,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.200000,14.200000,5
342,Abdur Razzak,14.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.500000,2
343,Mashrafe Mortaza,NaN,14.750000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.750000,4
344,CL White,24.000000,NaN,19.000000,NaN,9.000000,8.000000,NaN,NaN,NaN,NaN,15.000000,7
345,MG Neser,NaN,NaN,NaN,NaN,NaN,15.500000,NaN,NaN,NaN,NaN,15.500000,4
346,Sunny Gupta,NaN,NaN,NaN,NaN,15.666667,NaN,NaN,NaN,NaN,NaN,15.666667,3
347,F du Plessis,NaN,NaN,NaN,NaN,16.000000,NaN,NaN,NaN,NaN,NaN,16.000000,1
348,CK Kapugedera,16.333333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.333333,3
349,RR Bhatkal,NaN,NaN,NaN,NaN,17.500000,NaN,NaN,NaN,NaN,NaN,17.500000,2
350,P Prasanth,NaN,NaN,NaN,18.000000,NaN,NaN,NaN,NaN,NaN,NaN,18.000000,1
351,S Sriram,NaN,NaN,12.000000,25.000000,NaN,NaN,NaN,NaN,NaN,NaN,18.500000,3
352,V Shankar,NaN,NaN,NaN,NaN,NaN,NaN,19.000000,NaN,NaN,NaN,19.000000,1
353,B Chipli,NaN,NaN,NaN,20.000000,NaN,NaN,NaN,NaN,NaN,NaN,20.000000,1
354,LPC Silva,21.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.000000,1
355,I Malhotra,NaN,NaN,NaN,23.000000,NaN,NaN,NaN,NaN,NaN,NaN,23.000000,1

In [126]:
data = pd.read_csv('datasets/deliveries.csv')
wick=data.groupby(['bowler'])['player_dismissed'].count()
wick=pd.DataFrame(wick)
wick.reset_index(inplace=True)
bowler__avg=pd.merge(bowler__avg,wick,on='bowler')

In [127]:
bowler__avg

,bowler,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,av.eco,over,player_dismissed
0,AC Gilchrist,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,0.000000,1,1
1,N Rana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.000000,NaN,3.000000,1,0
2,Sachin Baby,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.000000,NaN,4.000000,2,3
3,NB Singh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.500000,4.500000,4,1
4,AM Rahane,NaN,5.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.000000,1,1
5,SPD Smith,NaN,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,NaN,NaN,5.000000,1,0
6,S Rana,NaN,NaN,NaN,2.000000,NaN,NaN,8.000000,NaN,NaN,NaN,5.000000,3,0
7,Mohammad Nabi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.363636,5.363636,11,2
8,DJ Thornely,5.714286,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.714286,7,3
9,Avesh Khan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.000000,6.000000,4,1
10,SS Mundhe,NaN,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,NaN,NaN,6.000000,1,1
11,LA Carseldine,NaN,6.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.000000,1,1
12,M Manhas,NaN,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,NaN,NaN,6.000000,7,0
13,J Yadav,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.142857,7.352941,7.166667,6.220822,30,4
14,A Chandila,NaN,NaN,NaN,NaN,6.214286,6.320000,NaN,NaN,NaN,NaN,6.267143,39,11
15,R Ashwin,NaN,3.500000,6.416667,6.317460,6.552239,6.844828,7.433333,5.871795,7.295455,NaN,6.278972,383,110
16,Washington Sundar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.300000,6.300000,30,9
17,JM Kemp,NaN,NaN,6.444444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.444444,9,3
18,GH Vihari,NaN,NaN,NaN,NaN,NaN,6.500000,NaN,NaN,NaN,NaN,6.500000,6,1
19,MJ Clarke,NaN,NaN,NaN,NaN,6.545455,NaN,NaN,NaN,NaN,NaN,6.545455,11,3
20,Sohail Tanvir,6.547619,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.547619,42,24
21,SMSM Senanayake,NaN,NaN,NaN,NaN,NaN,6.593750,NaN,NaN,NaN,NaN,6.593750,32,9
22,SP Narine,NaN,NaN,NaN,NaN,5.533333,5.515625,6.646154,7.687500,7.209302,6.983051,6.595828,323,109
23,RE van der Merwe,NaN,7.735294,6.750000,6.266667,6.000000,6.454545,NaN,NaN,NaN,NaN,6.641301,74,25
24,RV Gomez,NaN,NaN,NaN,8.333333,NaN,5.000000,NaN,NaN,NaN,NaN,6.666667,16,6
25,NJ Rimmington,NaN,NaN,NaN,6.666667,NaN,NaN,NaN,NaN,NaN,NaN,6.666667,3,0
26,FH Edwards,NaN,6.666667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.666667,24,6
27,SM Pollock,6.673913,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.673913,46,13
28,PD Collingwood,NaN,NaN,6.733333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.733333,15,5
29,GD McGrath,6.777778,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.777778,54,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
326,K Santokie,NaN,NaN,NaN,NaN,NaN,NaN,11.375000,NaN,NaN,NaN,11.375000,8,3
327,SA Abbott,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.400000,NaN,NaN,11.400000,5,0
328,TP Sudhindra,NaN,NaN,NaN,NaN,11.416667,NaN,NaN,NaN,NaN,NaN,11.416667,12,1
329,BB Sran,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.000000,8.400000,14.500000,11.633333,55,14
330,PC Valthaty,NaN,NaN,NaN,7.640000,16.000000,NaN,NaN,NaN,NaN,NaN,11.820000,26,7
331,MK Tiwary,NaN,11.000000,11.000000,11.500000,NaN,NaN,14.000000,NaN,NaN,NaN,11.875000,6,1
332,RA Tripathi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.000000,12.000000,1,0
333,RR Bose,NaN,12.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.000000,2,0
334,LRPL Taylor,NaN,13.000000,NaN,11.000000,NaN,NaN,NaN,NaN,NaN,NaN,12.000000,2,0
335,BJ Rohrer,NaN,NaN,NaN,NaN,NaN,12.000000,NaN,NaN,NaN,NaN,12.000000,1,0
336,J Suchith,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.666667,15.500000,NaN,12.083333,41,10
337,SB Wagh,NaN,NaN,16.000000,8.187500,NaN,NaN,NaN,NaN,NaN,NaN,12.093750,17,5
338,VS Yeligati,12.200000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.200000,5,0
339,V Sehwag,12.181818,25.000000,3.833333,NaN,11.250000,9.000000,NaN,NaN,NaN,NaN,12.253030,23,6
340,C Ganapathy,NaN,NaN,13.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.000000,1,0
341,MJ Henry,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.200000,14.200000,5,2
342,Abdur Razzak,14.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.500000,2,0
343,Mashrafe Mortaza,NaN,14.750000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.750000,4,1
344,CL White,24.000000,NaN,19.000000,NaN,9.000000,8.000000,NaN,NaN,NaN,NaN,15.000000,7,1
345,MG Neser,NaN,NaN,NaN,NaN,NaN,15.500000,NaN,NaN,NaN,NaN,15.500000,4,0
346,Sunny Gupta,NaN,NaN,NaN,NaN,15.666667,NaN,NaN,NaN,NaN,NaN,15.666667,3,0
347,F du Plessis,NaN,NaN,NaN,NaN,16.000000,NaN,NaN,NaN,NaN,NaN,16.000000,1,0
348,CK Kapugedera,16.333333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.333333,3,0
349,RR Bhatkal,NaN,NaN,NaN,NaN,17.500000,NaN,NaN,NaN,NaN,NaN,17.500000,2,0
350,P Prasanth,NaN,NaN,NaN,18.000000,NaN,NaN,NaN,NaN,NaN,NaN,18.000000,1,0
351,S Sriram,NaN,NaN,12.000000,25.000000,NaN,NaN,NaN,NaN,NaN,NaN,18.500000,3,0
352,V Shankar,NaN,NaN,NaN,NaN,NaN,NaN,19.000000,NaN,NaN,NaN,19.000000,1,0
353,B Chipli,NaN,NaN,NaN,20.000000,NaN,NaN,NaN,NaN,NaN,NaN,20.000000,1,0
354,LPC Silva,21.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.000000,1,0
355,I Malhotra,NaN,NaN,NaN,23.000000,NaN,NaN,NaN,NaN,NaN,NaN,23.000000,1,0

In [ ]:
bowler__avg.to_csv('bavg.csv')